/* drop default settings */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
  }
  

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }




body{
    background-color: #f5f7fa;
    padding: 40px;
    font-family: Montserrat;
    /* overflow-x: auto; */
}

.wrapper{
    background-color: white;
    display: flex;
    flex: row;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.side-bar{
    background-color: #1e2939;
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.photo{
    width: 370px;
}

.about-me-container{
    padding-top: 110px;
    padding-bottom: 110px;
    padding-left: 90px;
    padding-right: 90px;
}

.contact-container{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 60px;
}

.contact-title{
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 20px;

}

.contact-links{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #747b85;
}

.contact-links-type{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin-right: 10px;
}

.tech-skills-title{
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 20px;
}

.tech-skills-container{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 55px;
}

.tech-skills-item>li{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #ff6b08;
    margin-left: 15px;
}

.tech-skills-text{
    color: #babdc2;
}

.soft-skills-container{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 55px;
}

.soft-skills-title{
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 20px;
}

.soft-skills-item>li{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #ff6b08;
    margin-left: 15px;
}

.soft-skills-text{
    color: #babdc2;
}


/* about me container */

.introduction-info{
    margin-bottom: 65px;
}

.position-title{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 23px;
}

.name-title{
    font-size: 45px;
    font-weight: 700;
    line-height: 89px;
}

.description{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
<<<<<<< HEAD
    margin-top: 24px;
=======
    margin-bottom: 65px;
/*     margin-right: 330px; */
>>>>>>> 01c659299ce59489b2c78668fd0439c122c3e0d1
}

.about-me-title{
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
}

.project-list-container>li{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-left: 15px;  
}

.project-links{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #898989;
}

.dots{
    color: #898989;
    font-weight: 100;

}


.project-technics{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #898989;
}

.project-container{
    margin-bottom: 55px;
}


.position-title{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.company-name{
    color: #ff8b3e;
}

.work-period{
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    color: #a8a8a8;;
}

.slesh{
    color: black;
}

.job-duties{
    margin-top: 14px;
    margin-bottom: 30px;
    margin-left: 15px;
}

.job-duties>li{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #929292;
}


.work-exp-container{
    margin-bottom: 55px;
}

.faculty{
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 14px;
}
























/* .main-container{
    display: flex;
    flex-direction: column;
} 
*/
